.crypto_table {
    width: 100%;
    border-spacing: 0;
}

.crypto_table td,
.crypto_table th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--component-default-border-color);
}
.crypto_table tbody tr{
    cursor:default;
}
.crypto_table tbody tr td:nth-child(1){
    cursor:pointer;
}
.crypto_table tbody tr td:nth-child(3){
    cursor:pointer;
}

.star path{
    color: var(--component-grey-one);
    cursor: pointer;
}
.watchlisted path{
    color: var(--watchlist-star) !important;
}

.name_div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.negative{
    color: red !important;
}


.negative > path{
    color: red !important;
}

.positive{
    color: green !important;
}

.positive > path{
    color: green !important;
}

@media(max-width: 1096px){
/*    make the last column include the last th of cryptotable display none*/
    .crypto_table th:nth-last-child(1), .crypto_table td:nth-last-child(1){
        display: none;
    }
}
@media(max-width: 929px){
    /*    make the two last column include the two last th of cryptotable display none*/
    .crypto_table th:nth-last-child(2), .crypto_table td:nth-last-child(2){
        display: none;
    }
}
@media(max-width: 929px){
    /*    make the two last column include the two last th of cryptotable display none*/
    .crypto_table th:nth-last-child(2), .crypto_table td:nth-last-child(2){
        display: none;
    }
    /*    make the fifth column disaply none include the fifth th*/
    .crypto_table th:nth-child(5), .crypto_table td:nth-child(5){
        display: none;
    }
}

@media(max-width: 656px){
    /*    make the two last column include the two last th of cryptotable display none*/
    .crypto_table th:nth-last-child(2), .crypto_table td:nth-last-child(2){
        display: none;
    }
    /*    make the fifth and sixth column display none include the fifth and the sixth*/

    .crypto_table th:nth-child(5), .crypto_table td:nth-child(5){
        display: none;
    }
    .crypto_table th:nth-child(7), .crypto_table td:nth-child(7){
        display: none;
    }
/*    make cryptotable font size equal to 10pt*/
    .crypto_table td, .crypto_table th{
        font-size: 10pt;
    }

}