.currencyModal{
    position: absolute;
    margin-right: 0 !important;
    background: var(--bg);
    width: 600px;
    margin-top: 30px;
    right: 0;
    height: 100px !important;
    border: 1px solid var(--component-default-border-color);
    border-radius: 1rem;
    z-index: 3;
    padding: 15px;
    box-shadow: 10px 10px 10px var(--default-shadow);
}
.modalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px 4px;
    margin: 0 !important;
}
.divModal{
    border-radius: 4px;
    width: 100%;
}
.divModal:hover{
    background-color: var(--component-grey-one);
    color: var(--txt-default-color);
    --txt-grey-selected: #777c85;
    --txt-white-selected: #303841;
}

.divModal > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.selected{
    background-color: var(--component-blue);
}

.txtGreySelected{
    color: var(--txt-grey-selected);
}

.txtWhiteSelected{
    color: var(--txt-white-selected);
}

[data-theme='dark'] .txtWhiteSelected{
    color: var(--txt-default-color) ;
}

@media (max-width: 1000px) {
    .currencyModal{
        left: 0;
        width: auto;
        height: fit-content !important;
        border-bottom: 1px solid var(--component-grey-one) !important;
        margin-top: 44px !important;
        box-shadow: none;
        border-radius: initial;
    }
    .modalContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        margin: 0 !important;
    }

    .divModal{
        display: flex;
        justify-content: center;
        margin: 0 !important;
    }

}

@media (max-width: 932px) {
    .modalContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px;
        margin: 0 !important;
    }
}

@media (max-width: 803px) {
    .modalContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px;
        margin: 0 !important;
    }
}

@media (max-width: 675px) {
    .modalContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px;
        margin: 0 !important;
    }
}

@media (max-width: 545px) {
    .modalContainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 50px;
        margin: 0 !important;
    }
}

@media (max-width: 415px) {
    .modalContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px 50px 50px;
        margin: 0 !important;
    }
}


