.buttonIcon path{
    color: var(--txt-default-color);
}

.profilButtonContainer{
    position: relative;
}

.respContainer{
    display: none;
}

.profilButtonRespContainer{
    display: none;
}

.userNameLabel{
    display: none;
}

@media (max-width: 1000px) {
    .profilButtonContainer{
        display: none;
    }

    .respContainer{
        display: block;
        position: relative;
    }
    .profilButtonRespContainer{
        display: flex;
        padding: 0 25px;
        height: fit-content;
        align-items: center;
    }
    .userNameLabel{
        display: block;
        margin: 0 0 0 10px !important;
    }
    .angleDown{
        position: absolute;
        right: 25px;
        transition: transform 0.3s;
        transform-origin: center;
    }
}