.container{
    max-width: 1400px;
}
.assetsTable {
    width: 100%;
    border-spacing: 0;
}

.assetsTable td,
.assetsTable th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--component-default-border-color);
}
.assetsTable tbody tr{
    cursor:default;
}
/*The first td of tbody tr*/
.assetsTable tbody tr td:nth-child(1){
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.assetsTable tbody tr td:nth-child(1) span:nth-child(2){
    margin-left: 10px;
    margin-right: 3px;
}
.assetsTable tbody tr td:nth-child(1) span:nth-child(3){
    font-weight: 300;
}

.assetContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon{
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.icon > path{
    color: var(--component-blue);
}