.crypto_table{
    width: 100%;
    border-spacing: 0;
}
.crypto_table td,
.crypto_table th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(239, 242, 245);

}

.name_div{
    display: flex;
    gap:5px;
    align-items: center;
}

[data-theme='dark'] .crypto_table th,[data-theme='dark'] .crypto_table td {
    border-bottom-color: #232323;
}