.crypto_table {
    width: 100%;
    border-spacing: 0;
}

.crypto_table td,
.crypto_table th {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--component-default-border-color);

}

.name_div {
    display: flex;
    gap: 5px;
    align-items: center;
}